.profile {
    height: 100%;
    padding: 1rem;
}

.profile--form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    height: 100%;
    background-color: #222e35;
    padding: 1rem;
}

.profile--formElement {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    width: 100%;
}

.formElement--label {
    color: white;
    letter-spacing: 1.2px;
}

.formElement--entry {
    border-radius: 1rem;
    border: none;
    outline: none;
    padding: 0.625rem 0rem 0.625rem 1rem;
    background-color: #2a3942;
    color: white;
    letter-spacing: 1.2px;
}

.profilePic {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

#changePhoto {
    background-color: #06cf9c;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.4rem 2rem 0.4rem 2rem;
    letter-spacing: 1px;
    cursor: pointer;
}

#newProfilePic {
    width: 10%;
    border-radius: 50%;
}

#updateProfileButton {
    background-color: #06cf9c;
    color: white;
    padding: 0.4rem 2rem 0.4rem 2rem;
    border-radius: 1rem;
    border: none;
    font-size: medium;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}