.chatUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    background-color: #111b21;
    padding: 0.625rem 1rem 0.625rem 1rem;
}

.chatUser:hover {
    background-color: #233743;
}

.chatUser--description {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

/* .chatUser--stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3rem;
} */

#chatUser--blankProfile {
    width: 3rem;
    border-radius: 50%;
}

#chatUser--username {
    color: white;
}

#chatUser--recentMessage {
    color: #8c8c8c;
    font-size: 0.8rem;
}

#chatUser--createdOn {
    color: #8c8c8c;
    font-size: 0.7rem;
    align-self: flex-start;
    margin-top: 0.6rem;
}

/* #chatUser--undeliveredMessagesCount {
    color: black;
    font-size: small;
    font-weight: bold;
    background-color: #06cf9c;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
} */